<div class="container">
    
    <h1>Add a New Course</h1>
    
    <br /><br />
    
    
    
        <%= form_for @new_course do |f| %>
        <!--Course Num-->
        <div class="form-group"> 
            <%= f.label :course_num, class: "control-label" %>
            <%= f.text_field :course_num, :required => true, minlength: 5, maxlength: 5, size: 5, class: "form-control" %>
        </div>
        
        <!--Major-->
        <div class="form-group">
            <%= f.label :major_id, class: "control-label" %>
            <!--<%= f.text_field :major_id, :required => true, class: "form-control", :size=>"50"%>-->
            <div class="form-group">
                <%= f.select(:major_id, options_for_select([
                ['Computer Science',1],
                ['Biomedical Engineering',2],
                ['Computing Systems and Tech',3],
                ['Mathematics',4],
                ['History',5],
                ['Spanish',6],
                ['Russian',7],
                ['Chemistry',8],
                ['Philosophy',9],
                ['Economics',10],
                ['Finance',11],
                ['English',12]])) %>
                
            </div>
            
            <div class="form-group">
            <%= f.label :major_code, class: "control-label" %>
            <%= f.text_field :major_code, :required => true, class: "form-control" %>
            </div>
           
        </div>
        
        <!--Course Code-->
        <div class="form-group">
            <%= f.label :course_code, class: "control-label" %>
            <%= f.text_field :course_code, :required => true, class: "form-control" %>
        </div>
        
        <!--Section-->
        <div class="form-group">
            <%= f.label :section, class: "control-label" %>
            <%= f.text_field :section, :required => true, class: "form-control" %>
        </div>
        
        <!--Name-->
        <div class="form-group">
            <%= f.label :name, class: "control-label" %>
            <%= f.text_field :name, :required => true, class: "form-control" %>
        </div>
        
        <!--Location-->
        <div class="form-group">
            <%= f.label :location, class: "control-label" %>
            <%= f.text_field :location, class: "form-control" %>
        </div>
        
        <!--Instructor-->
        <div class="form-group">
            <%= f.label :instructor, class: "control-label" %>
            <%= f.text_field :instructor, :required => true, class: "form-control" %>
        </div>
        
        <!--Days-->
        <div class="form-group">
            <%= f.label :days, class: "control-label" %>
            <%= f.text_field :days, :required => true, class: "form-control" %>
        </div>
        
        <!--Start Time-->
        <div class="form-group">
            <%= f.label :start_time, class: "control-label" %>
            <%= f.text_field :start_time, :required => true, class: "form-control" %>
        </div>
        
        <!--End Time-->
        <div class="form-group">
            <%= f.label :end_time, class: "control-label" %>
            <%= f.text_field :end_time, :required => true, class: "form-control" %>
        </div>
        
        <!--Credits-->
        <div class="form-group">
            <%= f.label :credits, class: "control-label" %>
            <%= f.text_field :credits, :required => true, class: "form-control" %>
        </div>
        
        <!--Create-->
        <div class="actions"> 
            <%= f.submit "Create", :required => true, class: "btn btn-light" %>
        </div> 
        <% end %>
        </div>
   
</div>