<div class = 'nav'>
<%= render 'layouts/navigation_links' %>
<ul class="nav">
  
<% if user_signed_in? %>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Courses', courses_url %></li>
  <!--<li><%= link_to 'Students', students_url %></li>-->
  <li><%= link_to 'Majors', majors_url %></li>
  <li><%= link_to 'About', welcome_about_path %></li>
   
</ul>

  <ul class="signin">
   <li>Logged in as : <strong><%= current_user.email %></strong></li>
   <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
   <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
 
  </ul>
 
<% else %>
  <ul class="signup">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About', welcome_about_path %></li>
  <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
  <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
 
  </ul>
  
<% end %>
</div>